.bg_dark{
    background-color: #212121;
}
.bg_gray_general{
    background-color: #777;
}
.bg_gray_shallow {
    background-color: #f0f0f0
}
.bg_gray_barely {
    background-color: #fafafa
}
.bg_white_pure{
    background-color: #ffffff
}
