.bg_dark {
    background-color: #212121;
}

.bg_gray_general {
    background-color: #777;
}

.bg_gray_shallow {
    background-color: #f0f0f0
}

.bg_gray_barely {
    background-color: #fafafa
}

.bg_white_pure {
    background-color: #ffffff
}

.color_white_100 {
    color: #ffffff;
}

.color_gray_shallow {
    color: #f1f1f1;
}

.transparent_bg {
    background-color: transparent;
}