body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

._no_border {
    border: none;
}

.exp_card {
    width: 20%;
    /*height:250px;*/
    margin-left: 4%;
    margin-right: 4%;
}

.exp_contents_padding {
    padding: 0.7rem;
}

.exp_item_padding {
    padding: 0.4rem;
}

._float_left {
    float: left;
}

._float_right {
    float: right;
}

.exp_card_title_size {
    font-size: 1rem;
}

.exp_card_text_size {
    font-size: 0.9rem;
}

.exp_card_item_size {
    font-size: 0.7rem;
}

.stats_count_number {
    font-size: 2rem;
}

.stats_count_desc {
    font-size: 1rem;
}

.stats_bundle {
    margin-top: 10%;
}

._display_table {
    display: table;
}

._display_table_cell {
    display: table-cell;
    vertical-align: middle;
}

.screen-page {
    height: 648px;;
}

.top-icon {
    height: 80px;
    vertical-align: middle;
    border: 0;
}

.search_top_padding{
    padding: 0.5rem;
}

._to_top30 {
    margin-top: 6%;
}

.margin-top3 {
    margin-top: 3%;
}

.h_line {

    height: 1px;
    background-color: #ccc;
    margin-top: 3px;

}

.letter_spacing4 {
    letter-spacing: 4px;
}

._width15 {
    width: 15%;
}

._width30 {
    width: 30%;
}

._width40 {
    width: 40%;
}

._width60 {
    width: 60%;
}

._width75 {
    width: 75%;
}
._width80 {
    width: 80%;
}
._width100 {
    width: 100%;
}

._height100 {
    height: 100%;
}

._white_border {
    border-color: #ffffff;
}

/* divider_rs */
.divider_white1 {
    height: 10px;
}

.divider_white2 {
    height: 20px;
}

.divider_white3 {
    height: 30px;
}

.divider_white4 {
    height: 40px;
}

.divider_white6 {
    height: 60px;
}

.divider_white8 {
    height: 80px;
}

.divider_white9 {
    height: 90px;
}

.divider_white10 {
    height: 100px;
}

.divider_white12 {
    height: 120px;
}

.divider_white16 {
    height: 160px;
}

.divider_white20 {
    height: 200px;
}

.divider_white22 {
    height: 220px;
}

.divider_white25 {
    height: 250px;
}

.divider_white40 {
    height: 400px;
}

.divider_white48 {
    height: 480px;
}

._divider_stripe {
    height: 200px;
    background-color: #f0f0f0;
    text-align: center;
}

._text_align_center {
    text-align: center;
}

._text_align_right {
    text-align: right;
}

._text_align_left {
    text-align: left;
}

._margin2_auto {
    margin-left: auto;
    margin-right: auto;
}

.bg_blue_svg {
    background: #14a7df url(../../images/bkgd-light-blue.svg) no-repeat center center;
    background-size: cover;
}

