#svgLogsGenaral .axis {
    stroke-width: 1;
}
#svgLogsGenaral .axis .tick line {
    stroke: #777;
}
#svgLogsGenaral .axis .tick text {
    fill: #777;
    font-size: 0.7em;
}
/*横轴x*/
#svgLogsGenaral .axis .domain {
    fill: none;
    stroke: #777;
    stroke-width: 1;
}
#svgLogsGenaral .group {
    fill: none;
    stroke: #777;
    stroke-width: 1.5;
}

/*=================*/
#svgLogsExp .axis {
    stroke-width: 1;
}
#svgLogsExp .axis .tick line {
    stroke: #777;
}
#svgLogsExp .axis .tick text {
    fill: #777;
    font-size: 0.7em;
}
#svgLogsExp .axis .domain {
    fill: none;
    stroke: #777;
}
#svgLogsExp .group {
    fill: none;
    stroke: #777;
    stroke-width: 1.5;
}