<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="logs monitor">
    <meta name="author" content="yaoooo">
    <link rel="icon" href="../favicon.ico">
    <title>logs monitor 日志监控</title>
    <link href="../res/vendor/css/bootstrap-3.3.7.css" rel="stylesheet">
    <link href="../res/styles/layout.css" rel="stylesheet">
    <link href="../res/styles/general.css" rel="stylesheet">
    <link href="../res/styles/logsmonitor.css" rel="stylesheet">
    <link href="../res/styles/bscard.css" rel="stylesheet">

</head>

<body>

<!-- Fixed navbar 顶部导航栏 -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">日志监控预警</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <!--<ul class="nav navbar-nav">-->
            <!--<li class="active"><a href="#">Home</a></li>-->
            <!--<li><a href="#about">About</a></li>-->
            <!--<li><a href="#contact">Contact</a></li>-->
            <!--</ul>-->
        </div>
    </div>
</nav>
<!-- /Fixed navbar 顶部导航栏 -->

<!--高度占位符-->
<div class="blank_divider20"></div>
<!--/高度占位符-->

<!-- Begin page content -->
<div class="container">

    <div class="blank_divider51"></div>

    <div class="row">

        <!--监控项目选择+设置面板-->
        <div class="col-sm-3">

            <div id="optionsCard" class="card blank_divider240 _padding_left_18 _padding_top_18">
                <div class="checkbox checkbox-circle">
                    <input id="checkbox7" type="checkbox">
                    <label for="checkbox7">
                        严重级别
                    </label>
                </div>
                <div class="checkbox checkbox-info checkbox-circle">
                    <input id="checkbox8" type="checkbox" checked="">
                    <label for="checkbox8">
                        警告级别
                    </label>
                </div>

                <div class="checkbox checkbox-warning checkbox-circle">
                    <input id="checkbox11" type="checkbox" disabled="" checked="">
                    <label for="checkbox11">
                        时间序列
                    </label>
                </div>
            </div>
        </div>
        <!--/监控项目选择-->

        <!--监控曲线-->
        <div class="col-sm-9">
            <h2>实时变化曲线</h2>
            <div id="svgDiv">
                <svg id="svgMonitor" width="800" height="480"></svg>
            </div>
        </div>
        <!--/监控曲线-->

    </div>
</div>

<!--末尾页脚-->
<footer class="footer">
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</footer>
<!--/末尾页脚-->

<script src="../res/scripts/js/jquery-3.1.0.js"></script>
<script src="../res/scripts/js/holder-2.6.0.min.js"></script>
<script src="../res/scripts/js/tether-1.3.2.min.js"></script>
<script src="../res/vendor/js/bootstrap-3.3.7.js"></script>
<script src="../res/scripts/js/d3-3.5.17.js"></script>
<script src="../res/scripts/logsmonitor.js"></script>
<!--<script src="scripts/js/jquery-3.1.0.min.js"></script>-->
<!--<script src="scripts/js/bootstrap-3.3.7.min.js"></script>-->
<script>

    (function () {
        //绘制曲线
        createMonitorCurve();
    }());

</script>
</body>
</html>
