<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hgt.mapper.ExpStreamingMapper">
    <resultMap id="BaseResultMap" type="com.hgt.entity.ExpStreaming">
        <id column="STATS_RID" property="statsRid" jdbcType="VARCHAR"/>
        <result column="NOTES" property="notes" jdbcType="VARCHAR"/>
        <result column="APP_CODE" property="appCode" jdbcType="VARCHAR"/>
        <result column="LOG_TIME" property="logTime" jdbcType="TIMESTAMP"/>
        <result column="LOG_ID" property="logId" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    STATS_RID, NOTES, APP_CODE, LOG_TIME, LOG_ID
  </sql>
    <!--=============================================================================================-->

    <select id="selectAll" resultMap="BaseResultMap">
    select * from EXP_STREAMING
  </select>

    <select id="selectExpCountsByTimePeriod" resultType="com.hgt.domain.AppsCodeCounts" parameterType="java.util.HashMap">
        select APP_CODE as appCode,sum(*) as counts from EXP_STREAMING
        <where>

            <if test="startTime !=null   ">
                <![CDATA[ and LOG_TIME  >=  #{startTime}  ]]>
            </if>
            <if test="endTime !=null   ">
                <![CDATA[ and LOG_TIME <=  #{endTime}  ]]>
            </if>
        </where>

        group by APP_CODE order by APP_CODE

    </select>

    <select id="selectTotalCountsByTimePeriod" resultType="com.hgt.domain.SimpleStringBean">
        select count(*) as contents from EXP_STREAMING
        <where>
            <if test="startTime !=null ">
                <![CDATA[ and LOG_TIME  >=  #{startTime}  ]]>
            </if>
            <if test="endTime !=null ">
                <![CDATA[ and LOG_TIME <  #{endTime}  ]]>
            </if>
        </where>

    </select>

    <!--/=============================================================================================-->

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from EXP_STREAMING
        where STATS_RID = #{statsRid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from EXP_STREAMING
    where STATS_RID = #{statsRid,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.hgt.entity.ExpStreaming">
    insert into EXP_STREAMING (STATS_RID, NOTES, APP_CODE, 
      LOG_TIME, LOG_ID)
    values (#{statsRid,jdbcType=VARCHAR}, #{notes,jdbcType=VARCHAR}, #{appCode,jdbcType=VARCHAR}, 
      #{logTime,jdbcType=TIMESTAMP}, #{logId,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.hgt.entity.ExpStreaming">
        insert into EXP_STREAMING
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="statsRid != null">
                STATS_RID,
            </if>
            <if test="notes != null">
                NOTES,
            </if>
            <if test="appCode != null">
                APP_CODE,
            </if>
            <if test="logTime != null">
                LOG_TIME,
            </if>
            <if test="logId != null">
                LOG_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="statsRid != null">
                #{statsRid,jdbcType=VARCHAR},
            </if>
            <if test="notes != null">
                #{notes,jdbcType=VARCHAR},
            </if>
            <if test="appCode != null">
                #{appCode,jdbcType=VARCHAR},
            </if>
            <if test="logTime != null">
                #{logTime,jdbcType=TIMESTAMP},
            </if>
            <if test="logId != null">
                #{logId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hgt.entity.ExpStreaming">
        update EXP_STREAMING
        <set>
            <if test="notes != null">
                NOTES = #{notes,jdbcType=VARCHAR},
            </if>
            <if test="appCode != null">
                APP_CODE = #{appCode,jdbcType=VARCHAR},
            </if>
            <if test="logTime != null">
                LOG_TIME = #{logTime,jdbcType=TIMESTAMP},
            </if>
            <if test="logId != null">
                LOG_ID = #{logId,jdbcType=VARCHAR},
            </if>
        </set>
        where STATS_RID = #{statsRid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hgt.entity.ExpStreaming">
    update EXP_STREAMING
    set NOTES = #{notes,jdbcType=VARCHAR},
      APP_CODE = #{appCode,jdbcType=VARCHAR},
      LOG_TIME = #{logTime,jdbcType=TIMESTAMP},
      LOG_ID = #{logId,jdbcType=VARCHAR}
    where STATS_RID = #{statsRid,jdbcType=VARCHAR}
  </update>
</mapper>