<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hgt.mapper.ExpStreamingMapper" >
  <resultMap id="BaseResultMap" type="com.hgt.entity.ExpStreaming" >
    <id column="STATS_RID" property="statsRid" jdbcType="VARCHAR" />
    <result column="START_TIME" property="startTime" jdbcType="TIMESTAMP" />
    <result column="APP_CODE" property="appCode" jdbcType="VARCHAR" />
    <result column="LOG_TIME" property="logTime" jdbcType="VARCHAR" />
    <result column="LOG_ID" property="logId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    STATS_RID, START_TIME, APP_CODE, LOG_TIME, LOG_ID
  </sql>

  <!--=============================================================================================-->
  <select id="selectAll" resultMap="BaseResultMap">
    select * from EXP_STREAMING
  </select>

  <!--/=============================================================================================-->

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from EXP_STREAMING
    where STATS_RID = #{statsRid,jdbcType=VARCHAR}
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from EXP_STREAMING
    where STATS_RID = #{statsRid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hgt.entity.ExpStreaming" >
    insert into EXP_STREAMING (STATS_RID, START_TIME, APP_CODE, 
      LOG_TIME, LOG_ID)
    values (#{statsRid,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, #{appCode,jdbcType=VARCHAR}, 
      #{logTime,jdbcType=VARCHAR}, #{logId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hgt.entity.ExpStreaming" >
    insert into EXP_STREAMING
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="statsRid != null" >
        STATS_RID,
      </if>
      <if test="startTime != null" >
        START_TIME,
      </if>
      <if test="appCode != null" >
        APP_CODE,
      </if>
      <if test="logTime != null" >
        LOG_TIME,
      </if>
      <if test="logId != null" >
        LOG_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="statsRid != null" >
        #{statsRid,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appCode != null" >
        #{appCode,jdbcType=VARCHAR},
      </if>
      <if test="logTime != null" >
        #{logTime,jdbcType=VARCHAR},
      </if>
      <if test="logId != null" >
        #{logId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hgt.entity.ExpStreaming" >
    update EXP_STREAMING
    <set >
      <if test="startTime != null" >
        START_TIME = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appCode != null" >
        APP_CODE = #{appCode,jdbcType=VARCHAR},
      </if>
      <if test="logTime != null" >
        LOG_TIME = #{logTime,jdbcType=VARCHAR},
      </if>
      <if test="logId != null" >
        LOG_ID = #{logId,jdbcType=VARCHAR},
      </if>
    </set>
    where STATS_RID = #{statsRid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hgt.entity.ExpStreaming" >
    update EXP_STREAMING
    set START_TIME = #{startTime,jdbcType=TIMESTAMP},
      APP_CODE = #{appCode,jdbcType=VARCHAR},
      LOG_TIME = #{logTime,jdbcType=VARCHAR},
      LOG_ID = #{logId,jdbcType=VARCHAR}
    where STATS_RID = #{statsRid,jdbcType=VARCHAR}
  </update>
</mapper>