<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hgt.mapper.LogBeatsLostMapper" >
  <resultMap id="BaseResultMap" type="com.hgt.entity.LogBeatsLost" >
    <id column="BEAT_ID" property="beatId" jdbcType="VARCHAR" />
    <result column="LAST_TIME" property="lastTime" jdbcType="TIMESTAMP" />
    <result column="APP_CODE" property="appCode" jdbcType="VARCHAR" />
    <result column="LOST_INTERVAL" property="lostInterval" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    BEAT_ID, LAST_TIME, APP_CODE, LOST_INTERVAL
  </sql>
  <!--=============================================================================================-->
  <select id="selectAll" resultMap="BaseResultMap">
    select * from log_beats_lost
  </select>

  <!--/=============================================================================================-->

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from log_beats_lost
    where BEAT_ID = #{beatId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from log_beats_lost
    where BEAT_ID = #{beatId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hgt.entity.LogBeatsLost" >
    insert into log_beats_lost (BEAT_ID, LAST_TIME, APP_CODE, 
      LOST_INTERVAL)
    values (#{beatId,jdbcType=VARCHAR}, #{lastTime,jdbcType=TIMESTAMP}, #{appCode,jdbcType=VARCHAR}, 
      #{lostInterval,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.hgt.entity.LogBeatsLost" >
    insert into log_beats_lost
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="beatId != null" >
        BEAT_ID,
      </if>
      <if test="lastTime != null" >
        LAST_TIME,
      </if>
      <if test="appCode != null" >
        APP_CODE,
      </if>
      <if test="lostInterval != null" >
        LOST_INTERVAL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="beatId != null" >
        #{beatId,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null" >
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appCode != null" >
        #{appCode,jdbcType=VARCHAR},
      </if>
      <if test="lostInterval != null" >
        #{lostInterval,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hgt.entity.LogBeatsLost" >
    update log_beats_lost
    <set >
      <if test="lastTime != null" >
        LAST_TIME = #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appCode != null" >
        APP_CODE = #{appCode,jdbcType=VARCHAR},
      </if>
      <if test="lostInterval != null" >
        LOST_INTERVAL = #{lostInterval,jdbcType=BIGINT},
      </if>
    </set>
    where BEAT_ID = #{beatId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hgt.entity.LogBeatsLost" >
    update log_beats_lost
    set LAST_TIME = #{lastTime,jdbcType=TIMESTAMP},
      APP_CODE = #{appCode,jdbcType=VARCHAR},
      LOST_INTERVAL = #{lostInterval,jdbcType=BIGINT}
    where BEAT_ID = #{beatId,jdbcType=VARCHAR}
  </update>
</mapper>